/* Les App- sont les CSS générés par la démo React */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* À partir d'ici, technique du masque */
.mask-icon{
  display: inline-block;
  mask-image: var(--svg);
  width: 150px;
  height: 150px;
}
.mask-icon-currentcolor {
  background-color: currentColor;
}
.mask-icon-variable {
  background-color: var(--logo-fill);
}
.mask-icon-logo {
  --svg: url('./assets/logo-currentcolor.svg');
}
.mask-icon-circle {
  --svg: url('./assets/circle-currentcolor.svg');
}
